In [3]:
print(3 + 5)

8

In [4]:
print(10*10*8)

800

In [13]:
print(20 * 8) #행단위 명령어 : 한줄 명령어

160

In [10]:
i = 10; print(i) #여러개의 명령어를 한줄에 작성할때는 ;를 사용해서 명령어를 구분한다

10

In [20]:
if 10 <= i:   
    print("i가 크다") #파이썬은 들여쓰기 안하면 에러뜸

i가 크다

In [23]:
if i >= 10:
    print(i)

10

In [31]:
##2.자료형
## 기본자료형 (리터럴): 자연수 : 정수 리터럴
##                              실수 리터럴
#                      자연어 : 영어, 중국어, 한국어...
#                               문자 리터럴
print(10)
i = 10 #정수리터럴을 가진 변수 i
print(i)
i=20
print(i)
j=30 #정수 리터널 변수
print(i+j)
f=10.5 #실수리터널 변수
print(f)
j=10.5 #파이썬은 자료형이 없어서 아무렇게나 수정 가능
print(j)
j="집가고싶다"
print(j)

10
10
20
50
10.5
10.5
집가고싶다

In [37]:
#숫자연산자
i=10
j=20
print(i+j)
print(i-j)
print(i*j)
print(i/j)
print(i%j) #나머지연산자
print(10 / 3) # 3.33333333
print(10 // 3) # 3(몫 연산자)
print(10 ** 3) # 100(제곱승 연산자)

30
-10
200
0.5
10
3.3333333333333335
3
1000

In [50]:
###문자 리터널 : 파이썬에선 문자나 문자열이나 같이 취급한다
###            : "", '' : 문자로 취급
곽민우 = "rhee" #문자리터널과 변수를 구분하기 위해서 문자열에 ""을 주기로함
#10 = "곽민우" 숫자는 변수로 사용 못함
i=10
print(i)
print(곽민우)
곽민우 = '곽' #''도 사용가능
print(곽민우)
str1 = 10 #정수리터럴
str1 = '10' #문자리터럴
print(10 + 10) #정수 + 정수
print ('10' + "10") #문자 + 문자
#print('10' + 10) #문자 + 정수 - 에러뜸
print('곽' * 3) #반복연산자
print('=' * 30)
print('제목')
print('=' * 30)

10
rhee
곽
20
1010
곽곽곽
==============================
제목
==============================

In [63]:
print('Life is too short, You need phtyon')
print("Life is too short, You need phtyon")
print('Life\'s too short, You need phtyon') #''사이에 '가 들어가도 \(역슬래시)넣으면 사용 가능
                                            # \(escape) : 탈출시키다
print("Life's too short, You need phtyon")
print("Life is too short, \"You need\" phtyon")
print('Life is too short, "You need" phtyon')
####강조할일이 있다면 "", '' 를 적당히 섞어쓰자####
print('Life\'s too short, "You need" phtyon') #어쩔수 없이 둘다 써야되면 \사용

print('\n')

print('\tLife is too short, You need phtyon') #\t : tap
print('Life is too short, \nYou need phtyon') #\n : 줄바꿈

Life is too short, You need phtyon
Life is too short, You need phtyon
Life's too short, You need phtyon
Life's too short, You need phtyon
Life is too short, "You need" phtyon
Life is too short, "You need" phtyon
Life's too short, "You need" phtyon


	Life is too short, You need phtyon
Life is too short,
You need phtyon

In [67]:
print('''Life is too short,
You need phtyon''')
print('\n')
print("""Life is too short, 
You need 
phtyon""") #'''~~''' , """~~~""" : 행바꿈

Life is too short,
You need phtyon


Life is too short,
You need
phtyon

In [72]:
str1 = 'Life is too short, You need phtyon'
print(str1)
print(len(str1)) #문자열 길이
print(len('Life is too short, You need phtyon'))

Life is too short, You need phtyon
34
34

In [88]:
str1 = 'Life is too short, You need phtyon'
#                 111        222      3333
#       0123456789012345678901234567890123 : index : 문자에 표시된 고유의 번호 : 0부터 1씩증가
#      -4321098765432109876543210987654321 : index : -로 가는 음수인덱스도 사용이 가능함
#           3         2         111
print(str1[1])
print(str1[12])
print(str1[33])
print(str1[len(str1) - 1]) #len(str) - 1 = 34 - 1 = 33
print(str1[5])
print('Life is too short, You need phtyon'[5])
print(str1[0])
print(str1[-34]) #뒤에서부터 세는것도 가능
print(str1[-len(str1)])
print(str1[0])
print(str1[-0]) #0은 음수가 안되니까 그냥 0

i
s
n
n
i
i
L
L
L
L
L

In [91]:
#Life를 출력
#print(str1[0]);print(str1[1]);print(str1[2]);print(str1[3]);
print(str1[0]+str1[1]+str1[2]+str1[3])

Life

In [97]:
#Life
#0123
print(str1[0:0+4]) #문자열 str1의 0번부터 4전까지 더해라
print(str1[0:4]) #start : 0, stop : 4
print(str1[8:8+5]) #일일이 몇번에 무슨글자인지 확인하기 힘드니 첫글자에서 몇글자 더하는 형식으로 하는게 편함
print(str1[8:13]) #8부터 13 전까지 나타내라
idx = 3
글자수 = 5
print(str1[idx:idx+글자수])

Life
Life
too s
too s
e is

In [105]:
str1 = 'Life is too short, You need phtyon'
#                 111        222      3333
#       0123456789012345678901234567890123 : 
#      -4321098765432109876543210987654321 : 
#           3         2         111
print(str1[0:0+7])
print(str1[-34:0+7])
print(str1[0:-34+7])
print(str1[0:-27])
print(str1[-34:-27])
print(str1[-len(str1):-27])

Life is
Life is
Life is
Life is
Life is
Life is

In [112]:
a = '20231218Cold'
####날짜랑 이름 분리해서 출력
print(a[0:0+8])
print(a[8:8+4])
###########첫번호(0)랑 마지막번호(len(a))는 생략이 가능
print(a[:8])
print(a[8:])
###년 월 일
print(a[0:0+4])
print(a[4:4+2])
print(a[6:6+2])

20231218
Cold
20231218
Cold
2023
12
18

In [27]:
str1 = 'Life is too short, You need phtyon'

print(str1)
print(str1[0:len(str1)])
print(str1[0:])
print(str1[:len(str1)])
print(str1[0:0])
print(str1[::2]) #한칸씩
print(str1[::3]) #세칸씩
print(str1[::-1]) #거꾸로

#2번부터 13까지출력
print(str1[2:14:2]) #2~13번까지, 한칸씩 건너서
#print(str1[2:14:-1]) #아무것도안나옴
print(str1[13:1:-1])# 13~2번 거꾸로

Life is too short, You need phtyon
Life is too short, You need phtyon
Life is too short, You need phtyon
Life is too short, You need phtyon

Lf stosot o edpto
Lesosr ue tn
noythp deen uoY ,trohs oot si efiL
f stos
hs oot si ef

In [20]:
a = 'pithon'
#   012345
print(a)
print(a[1])
#a[1] = 'y' #문자열은 index를 이용해서 수정할수 없다
print(a[0] + 'y' + a[2:])

pithon
i
python

In [23]:
#포매팅
print('현재온도는 15도입니다')
print('현재온도는 30도입니다')
print('현재온도는 18도입니다')

현재온도는 15도입니다
현재온도는 30도입니다
현재온도는 18도입니다

In [34]:
#포맷문자열을 이용한 포맷팅 : %d %s %f %c ...
a = 20
print('현재온도는 %d도입니다' % a)

b=5 #정수 리터럴
print('I eat %d apples' % b)
print('I eat %d apples' % 5)
print('I eat %s apples' % 'five')

str2='five'
print('I eat %s apples' % str2)

f=0.5
print('I eat %.2f apples' % f)

현재온도는 20도입니다
I eat 5 apples
I eat 5 apples
I eat five apples
I eat five apples
I eat 0.50 apples

In [43]:
'나의 이름은 곽민우 이고 나이는 20살입니다.'

name = '곽민우'
age = 30
print('나의 이름은 %s이고 나이는 %d살 입니다.' %(name, age)) #변수 두개이상 넣을시에는 소괄호로 묶기
print('I eat %.2f apples' % (f)) #물론 하나만잇어도 소괄호 가능

나의 이름은 곽민우이고 나이는 30살 입니다.
I eat 0.50 apples

In [46]:
'곽민우의 계좌번호는 1111이고 잔액은 100원입니다'
name = '곽민우'
account = 1111
money = 100
print('%s의 계좌번호는 %d이고 잔액은 %d원입니다' %(name, account, money))

곽민우의 계좌번호는 1111이고 잔액은 100원입니다

In [56]:
'곽민우의 나이는 20살이고 키는 173.5입니다.'
name='곽민우'
age=20
height = 173.5
print('%s의 나이는 %d살이고 키는 %f입니다.' %(name, age,height))
print('%s의 나이는 %d살이고 키는 %5.1f입니다.' %(name, age,height))
print('%s의 나이는 %d살이고 키는 %3.1f입니다.' %(name, age,height))
print('%s의 나이는 %d살이고 키는 %.10f입니다.' %(name, age,height))
print('%s의 나이는 %d살이고 키는 %s입니다.' %(name, age,height))

result="우리반의 취업률은 %d%%입니다." % 98
print(result)

곽민우의 나이는 20살이고 키는 173.500000입니다.
곽민우의 나이는 20살이고 키는 173.5입니다.
곽민우의 나이는 20살이고 키는 173.5입니다.
곽민우의 나이는 20살이고 키는 173.5000000000입니다.
곽민우의 나이는 20살이고 키는 173.5입니다.
우리반의 취업률은 98%입니다.

In [60]:
#정렬과 공백 : +오른쪽정렬
print('%s의 나이는 %d살이고 키는 %.1f입니다.' %(name, age,height))
print('%10s의 나이는 %10d살이고 키는 %10.1f입니다.' %(name, age,height))
print('%-10s의 나이는 %10d살이고 키는 %-10.1f입니다.' %(name, age,height))#앞에 -붙이면 왼쪽 정렬

곽민우의 나이는 20살이고 키는 173.5입니다.
       곽민우의 나이는         20살이고 키는      173.5입니다.
곽민우       의 나이는         20살이고 키는 173.5     입니다.

In [90]:
#format함수를 사용한 포매팅: format()
print('%s의 나이는 %d살이고 키는 %.1f입니다.' %(name, age, height))#포맷문자열
print('{0}의 나이는 {1}살이고 키는 {2}입니다.'.format('민우곽', 30, 175.3))
#
print('{0}의 나이는 {1}살이고 키는 {2}입니다.'.format(name, age, height))
print('{1}의 나이는 {0}살이고 키는 {2}입니다.'.format(age, name, height))
                                            #순서와 상관없이 index를 원하는 위치에 줄수 있다
#
'곽민우의 나이는 20살이고 키는 175.6입니다'
print('%s의 나이는 %s살이고 키는 %s입니다' %(name, age, height))
print('{1}의 나이는 {0}살이고 키는 {2}입니다'.format(age, name, height))

곽민우의 나이는 20살이고 키는 173.5입니다.
민우곽의 나이는 30살이고 키는 175.3입니다.
곽민우의 나이는 20살이고 키는 173.5입니다.
곽민우의 나이는 20살이고 키는 173.5입니다.
곽민우의 나이는 20살이고 키는 173.5입니다
곽민우의 나이는 20살이고 키는 173.5입니다

In [94]:
#인자에 이름 추가
print('{0}의 나이는 {1}살이고 키는{키}입니다'.format('곽민우', 30, 키 = 173.5))
                                                #      0      1    2 
print('{0}의 나이는 {1}살이고 키는{키}입니다'.format(name, age, 키 = height))
print('{0}의 나이는 {나이}살이고 키는{키}입니다'.format(name, 나이 = age, 키 = height))
#이름을 중간에있는 값에만 줄수 없음. 이름은 뒤에서부터 순차적으로 줘야함
#print('{0}의 나이는 {나이}살이고 키는{1}입니다'.format(name, 나이 = age, height))

곽민우의 나이는 30살이고 키는173.5입니다
곽민우의 나이는 20살이고 키는173.5입니다
곽민우의 나이는 20살이고 키는173.5입니다

In [78]:
#정렬과 공백
print('{1:10}의 나이는 {0:10}살이고 키는 {2:10}입니다'.format(age, name, height))
#문자는 왼쪽정렬, 숫자는 오른쪽정렬이 default
print('{1:<10}의 나이는 {0:<10}살이고 키는 {2:<10}입니다'.format(age, name, height)) # < 사용해서 왼쪽정렬
print('{1:>10}의 나이는 {0:>10}살이고 키는 {2:>10}입니다'.format(age, name, height)) # > 사용해서 오른쪽정렬
print('{1:^10}의 나이는 {0:^10}살이고 키는 {2:^10}입니다'.format(age, name, height)) # ^ 사용해서 가운데정렬

곽민우       의 나이는         20살이고 키는      173.5입니다
곽민우       의 나이는 20        살이고 키는 173.5     입니다
       곽민우의 나이는         20살이고 키는      173.5입니다
   곽민우    의 나이는     20    살이고 키는   173.5   입니다

In [84]:
#{} 출력하기
#{곽민우}의 나이는 20살이고 키는 173.5입니다
print('{{{0}}}의 나이는 {1}살이고 키는 {2}입니다'.format(name, age, height))
print('{{곽민우}}의 나이는 {1}살이고 키는 {2}입니다'.format(name, age, height))

{곽민우}의 나이는 20살이고 키는 173.5입니다
{곽민우}의 나이는 20살이고 키는 173.5입니다

In [87]:
#f 문자열 포매팅
'곽민우의 나이는 20살이고 키는 173.5입니다.'
print(f'{name}의 나이는 {age}살이고 키는 {height}입니다.')

곽민우의 나이는 20살이고 키는 173.5입니다.

In [95]:
print(f'{name}의 나이는 {age}살이고 키는 {height}입니다.') #얘가제일 편함
print('%s의 나이는 %d살이고 키는 %.1f입니다' %(name, age, height))
print('{0}의 나이는 {1}살이고 키는 {2}입니다'.format(name, age, height))

곽민우의 나이는 20살이고 키는 173.5입니다.
곽민우의 나이는 20살이고 키는 173.5입니다
곽민우의 나이는 20살이고 키는 173.5입니다

In [103]:
#정렬과 공백
print(f'{name:10}의 나이는 {age:10}살이고 키는 {height:10}입니다')
print(f'{name:<10}의 나이는 {age:<10}살이고 키는 {height:<10}입니다')
print(f'{name:>10}의 나이는 {age:>10}살이고 키는 {height:>10}입니다')
print(f'{name:^10}의 나이는 {age:^10}살이고 키는 {height:^10}입니다')
print(f'{name:!>10}의 나이는 {age:->10}살이고 키는 {height:=>10}입니다') #빈칸을 문자로 채우기

곽민우       의 나이는         20살이고 키는      173.5입니다
곽민우       의 나이는 20        살이고 키는 173.5     입니다
       곽민우의 나이는         20살이고 키는      173.5입니다
   곽민우    의 나이는     20    살이고 키는   173.5   입니다
!!!!!!!곽민우의 나이는 --------20살이고 키는 =====173.5입니다

In [114]:
str = 10
print('9 * 3 = 27')
dan = 9
gob = 3
print(dan, '*',gob, '=', dan * gob)
#파이썬은 변수명과 함수명을 구분하지않음
print(f'{dan} * {gob} = {dan*gob}')

9 * 3 = 27
9 * 3 = 27
9 * 3 = 27

In [122]:
#문자열 관련 함수들 : 문자열 가공
a = 'hobby'
print(a)
#문자열의크기
print(len(a))
print(len('hobby'))
#특정 문자의 갯수
#b가 몇개있는지
print(a.count('b'))
print('hobby'.count('b'))
###############
str2 = 'Life is too short'
print(str2.count('o'))

hobby
5
5
2
2
3

In [150]:
#Life is too short
#          1
#01234567890123456
#too를 출력
print(str2.find('too'))
print(str2[8:8+3]) #str2.substr(8, 8+3)
idx = str1.index('too') #idx = str2.indexOf('too')
#too가 있는 위치의 첫번째 글자의 index를 가지고 온다.
print(idx)
print(str2[idx:idx+3])
#t부터 5글자
idx = str1.index('t')
print(str2[idx:idx+3])

#i부터 네글자
idx = str1.index('i')
print(str1[idx:idx+5])
print(str1[str1.index('i'):str1.index('i')+5])

print('\n')

# s부터 4글자
idx = str1.index('s')
print(idx)
print(str1[idx:idx+5])

# 두번째 s부터 4글자
idx = str1.index('s', 7) #7번째글자 부터 s를찾아라
print(str1[idx:idx+5])
print(idx)
idx = str1.index('s', str1.index('s') + 1)
print(str1[idx:idx+5])

8
too
8
too
too
ife i
ife i


6
s too
short
12
short

In [166]:
str1 = 'Life is too short, You need python'
print(str1)
#3번째 t에서 4글자 출력
idx = str1.index('t') #첫번째 t
idx = str1.index('t', idx  + 1) #두번째 t
idx = str1.index('t', idx  + 1) 
print(str1[idx:idx+4])
idx = str1.index('t',  str1.index('t', str1.index('t')+ 1) + 1) #세번째 t
print(str1[idx:idx+4])

Life is too short, You need python
thon
thon

In [169]:
#마지막 t에서 4글자
idx = str1.rindex('t')
print(idx)
print(str1[idx:idx+4])

30
thon

In [175]:
#too 출력
idx = str1.index('t')
print(str1[idx:idx+3])

idx = str1.find('t')
print(str1[idx:idx+3])

idx = str1.rfind('t')
print(str1[idx:idx+3])

idx = str1.find('t', str1.find('t') + 1)
print(str1[idx:idx+3])

too
too
tho
t,

In [179]:
idx = str1.find('z')
print(idx) #찾는 문자가 없으면 -1출력
#idx = str1.index('z') #찾는 문자가 없으면 에러뜸

-1

In [183]:
print(str1) 
#문자열을 모두 소문자로 출력
print(str1.lower())
#문자열을 모두 대문자로 출력
print(str1.upper())

Life is too short, You need python
life is too short, you need python
LIFE IS TOO SHORT, YOU NEED PYTHON

In [189]:
str2 = "     kmw       "
print(str2.strip()) #trim() : 공백 없애기
str2 = "     kmw       "
print(str2.lstrip()) #trim()
str2 = "     kmw       "
print(str2.rstrip()) #trim()

str3 = 'abLife is too short ab'
print(str3.strip('ab')) #ab삭제

kmw
kmw
     kmw
Life is too short

In [194]:
##문자열 대체하기
str4 = 'Life is too short'
result = str4.replace('Life', 'Your leg')
print(result)

#쪼개기
result = str4.split()
print(result) #리스트(배열)단위로 쪼갬

str4 = "Life:is:too:short"
result = str4.split(":")
print(result)

Your leg is too short
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']

In [227]:
print('Hello World')
print('Merry\'s Cosmetics')
print('신씨가 소리질렀다. "도둑이야"')
#print("C:\Windows")
print('naver;kakao;sk/sam')
print(5/3)
삼성전자 = 50000
print(삼성전자 * 10)
air = 48584
month = 36
price = air * month
print(price)
license = "24가 2210"
print(license[-4:])
str1 = "홀짝홀짝홀짝"
print(str1[::2])

phone = '010-2934-7691'
phone1 = phone.replace('-', '')
print(phone1)
print(phone1.strip())

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f'이름 : {name1} 나이 : {age1}')
print(f'이름 : {name2} 나이 : {age2}')

상장주식수 = "5,969,782,550"
str2 = 상장주식수.replace(",", '')
str3 = int(str2)
print(str3)

Hello World
Merry's Cosmetics
신씨가 소리질렀다. "도둑이야"
naver;kakao;sk/sam
1.6666666666666667
500000
1749024
2210
홀홀홀
01029347691
01029347691
이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13
5969782550