In [23]:
print('{}'.format(10))
print('{} {}'.format(10, 20))
print('{} {} {} {}'.format(10,20,30,40))
print('곽민우의 나이는 20살이고 곽민우의 키는 173.5입니다')
print('{}의 나이는 {}살이고 {}의 키는 {}입니다'.format('곽민우', 20, '곽민우', 173.5))
print('{0}의 나이는 {1}살이고 {0}의 키는 {2}입니다'.format('곽민우', 20, 173.5))
#
print('{}의 나이는 {}살이고 키는 '.format('곽민우', 20, 173.5))
print('{0:<10}의 나이는 {1:010d}살이고 {0:10}의 키는 {2:0>10f}입니다'.format('곽민우', 20, 173.5))
#
print('\n')
print('{0:!<10}의 나이는 {1:0^10d}살이고 {0:10}의 키는 {2:0>10f}입니다'.format('곽민우', 20, 173.5))

10
10 20
10 20 30 40
곽민우의 나이는 20살이고 곽민우의 키는 173.5입니다
곽민우의 나이는 20살이고 곽민우의 키는 173.5입니다
곽민우의 나이는 20살이고 곽민우의 키는 173.5입니다
곽민우의 나이는 20살이고 키는
곽민우       의 나이는 0000000020살이고 곽민우       의 키는 173.500000입니다


곽민우!!!!!!!의 나이는 0000200000살이고 곽민우       의 키는 173.500000입니다

In [51]:
print('{:+d}'.format(52)) # + : 기호를 출력
print('{:+d}'.format(-52))
print('{}'.format(-52))
print('{0}'.format(-52))
print('{: }'.format(52))
print('{: }'.format(-52))
print('{:10}'.format(52))
print('{:10d}'.format(52))
print('{:+10d}'.format(52))
print('{:+10d}'.format(-52))
print('{:010}'.format(52))
print('{:+010}'.format(52))
print('{:+010d}'.format(-52))
print('{:3<10}'.format(-52))# 정렬해주면 문자나 숫자로 채울수도 있음
print('{:!<10}'.format(-52))

+52
-52
-52
-52
 52
-52
        52
        52
       +52
       -52
0000000052
+000000052
-000000052
-523333333
-52!!!!!!!

In [63]:
print('{}'.format(173.5))
print('{:10}'.format(173.5))
print('{:10f}'.format(173.5))
print('{:10.1f}'.format(173.5))
print('{:10.2f}'.format(173.5))
print('{:10.3f}'.format(173.5))
print('{:<10.3f}'.format(173.5))
print('{:>10.3f}'.format(173.5))
print('{:>3f}'.format(173.5))
print('{:g}'.format(173.0)) # 소숫점 아래가 0일때 소숫점 자리 가릴수 잇음
print('{:g}'.format(173.0000000))

173.5
     173.5
173.500000
     173.5
    173.50
   173.500
173.500
   173.500
173.500000
173
173

In [66]:
#기본 자료형 : 리터럴 : 숫자 : 정수 : 10
#                             실수 : 소숫점. 10.5
#                             문자열 : 영어, 프랑스어, ...
# 파이썬 자료형 : 리스트 : 모든 타입들을 여러개 저장할 수 있다
#                 list : 제네릭타입이 object로 되어있는 리스트와 같다
#'''
#List<Object> list = new ArrayList<Object>();
#list.add(10)
#list.add(20)
#list.add('곽민우')
#'''
l = []
l = [1,2,3,4,5,6] #정수형리스트
l = [10,52,25.2,36.1] #실수형리스트
l = ['홍길동', '이길동', '박길동'] #문자열형리스트
l = ['홍길동', '이길동',1,2,3,4.2,5.3] #혼합형리스트
l = ['홍길동', '이길동',1,2,3,4.2,5.3, [10,20,30]] #리스트를 포함한 혼합형 리스트
l = [[1,2,3], [4,5,6], [7,8,9]] #리스트를 포함한 리스트
# 리스트 안에 있는 값을 '요소'라고 한다

In [73]:
print(l)
l=[1,2,3,4,5,6]
print(l)
l=['Life', 'is', 'too', 'short'] #['Life', 'is', 'too', 'short']
print(l)
i=10
print(i) #10
str1 = '곽민우' #곽민우
print(str1)
str4 = 'Life is too short'
result = str4.split()
print(result) #['Life', 'is', 'too', 'short'] : 리스트로 출력됨

['Life', 'is', 'too', 'short']
[1, 2, 3, 4, 5, 6]
['Life', 'is', 'too', 'short']
10
곽민우
['Life', 'is', 'too', 'short']

In [79]:
str4 = 'Life is too short'
print(str4)
#Life is too short
#01234567890123456
print(str4[3])
print(l)
#['Life', 'is', 'too', 'short']
#    0     1      2      3
#   -4    -3     -2     -1
print(l[0]) #list.get(index)
print(l[-4])

Life is too short
e
['Life', 'is', 'too', 'short']
Life
Life

In [98]:
ll = [1,2,3,'Life',[4,5],'is',[6],'too', 0.5, 'short', '30']
#     0 1 2    3     4     5   6    7     8      9     10
print(ll)
print(ll[0]) #정수
print(ll[1]) #정수
print(ll[3]) #문자
print(ll[4]) #리스트
print(ll[5]) #문자
print(ll[6]) #리스트
print(ll[7]) #문자
print(ll[8]) #실수
print(ll[9]) #문자
#
print(ll[1] + ll[2]) #정수 + 정수
#리스트에서 요소를 사용하는 경우에는 요소가 가진 자료형으로 사용할 수 있다
print(ll[3] + ll[7]) #문자 + 문자
print('Life' + 'too') #위에꺼랑같음
print(ll[10]) #30 : 문자
print(ll[3] + ll[10]) #정수 + 문자
print(str(ll[1]) + ll[10]) #문자 + 문자
print(ll[1] + int(ll[10])) #정수 + 정수
print(ll[3] * ll[2]) #문자 * 정수

[1, 2, 3, 'Life', [4, 5], 'is', [6], 'too', 0.5, 'short', '30']
1
2
Life
[4, 5]
is
[6]
too
0.5
short
5
Lifetoo
Lifetoo
30
Life30
230
32
LifeLifeLife

In [108]:
a = [1,2,3,['a','b','c'],4]
#    0 1 2       3       4
#   -5-4-3      -2      -1
b = a[3]
print(b) #['a', 'b', 'c']
#           0    1    2
#          -3   -2   -1
print(b[2]) #c
print(a[3][2]) #c
print(a[-2][-1]) #c
print(a[3][-1]) #c
print(a[-2][2]) #c

['a', 'b', 'c']
c
c
c
c
c

In [112]:
a = [1,2,3,['a','b',['Life','is']],4]
#    0 1 2          3            4
#            0   1       2
#                      0     1
print(a[3][2][1])
print(a[3][2][1][1])

is
s

In [130]:
#리스트의 슬라이싱
str4 = 'Life is too short'
#                 1111111
#       01234567890123456
print(str4[0])
print(str4[1])
print(str4[2])
print(str4[3])
print(str4[0]+str4[1]+str4[2]+str4[3])
#slicing
print(str4[0:4])
print(str4[2:2+2])
print(str4[2:2]) #nothing
print(str4[2:2+1])
#
print('\n')
l = [1,2,3,4]
#    0 1 2 3 
print(l[0])
print(l[1])
print(l[0:0+2])
print(l[0:2])
print(l[1:1]) #빈리스트
print(l[1:1+1]) #[2] : 요소가 하나인 리스트 : slicing을 하면 요소를 하나만 가져와도 리스트가 된다
###slicing을 하면 결과는 리스트다###
print(l[1]) #2 : indexing을 하면 요소 자료형으로 가져온다

#print(l[1:1+1] + l[1]) #리스트 + 정수 = 에러발생
print(l[0:2] + l[1:1+1]) #리스트 + 리스트 : [1, 2, 2] : +는 문자열처럼 연결연산자 역할을 한다
print(l[0:2] * l[1]) #리스트 * 정수 : [1, 2, 1, 2] : *도 문자열처럼 반복연산자 역할을 한다
#형 변환 함수 : str() int() list()

L
i
f
e
Life
Life
fe

f


1
2
[1, 2]
[1, 2]
[]
[2]
2
[1, 2, 2]
[1, 2, 1, 2]

In [141]:
result = ['Life','is','too','short']
#            0     1    2      3
print(result)
print(result[:])
print(result[0]) #Life
print(result[1]) #is
print(result[0:0+1]) #['Life']
print(result[0] + result[1]) #문자 + 문자 : Lifeis
#print(result[0:0+1] + result[1]) #리스트 + 문자 : 에러
print(result[0:0+1] + list(result[1])) #['Life', 'i', 's']
print(str(result[0:0+1]) + result[1]) #문자열 + 문자열 : ['Life']is
#
print("".join(result[0:0+1]) + result[1]) #문자열 + 문자열 : Lifeis
print(result) # ['Life', 'is', 'too', 'short'] => Life is too short
print(' '.join(result))

['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']
Life
is
['Life']
Lifeis
['Life', 'i', 's']
['Life']is
Lifeis
['Life', 'is', 'too', 'short']
Life is too short

In [164]:
str1 = 'Life is too short'
#                 1111111
#       01234567890123456
result = ['Life','is','too','short']
#           0      1    2      3
print(str1[0:2])
print(result[0:2])
print(str1[:2])
print(result[:2])
print(str1[5:])
print(result[2:])
print(str1[:])
print(result[:])
print(str1[::2])
print(result[::2])
print(str1[::-1])
print(result[::-1])
print(str1[2:14])
print(str1[13:1:-1])
print(result[1:4])
print(result[3:0:-1])

Li
['Life', 'is']
Li
['Life', 'is']
is too short
['too', 'short']
Life is too short
['Life', 'is', 'too', 'short']
Lf stosot
['Life', 'too']
trohs oot si efiL
['short', 'too', 'is', 'Life']
fe is too sh
hs oot si ef
['is', 'too', 'short']
['short', 'too', 'is']

In [177]:
str1 = 'Lyfe is too short'
print(str1[1])
result = str1.replace("Lyfe", 'Life')
print(str1)
print(result)

l4 = ['Lyfe','is','too','short']
print(l4[0])
l4[0] = 'Life'
print(l4)

print(l4[2]) #too
l4[2] = 100
print(l4)
print(len(str1)) #문자열의 크기
print(len(l4)) #리스트의 크기

y
Lyfe is too short
Life is too short
Lyfe
['Life', 'is', 'too', 'short']
too
['Life', 'is', 100, 'short']
17
4

In [187]:
#리스트함수
#리스트에 요소 추가
l = ['Life','is']
#too추가
print(l + ['too'])
print(l)

l.append('too')
print(l)
l.append('short')
print(l)

#원하는 위치에 요소 추가
l = ['Life','short']
#       0      1
l.insert(1,'is')
print(l) # ['Life', 'is', 'short']
l.insert(2,'too')
print(l)

#리스트확장
a = [1,2,3]
b = [4,5,6]
print(a+b) #단순히 이어붙인거. 원 데이터는 안바뀜
a.extend(b)
print(a)

['Life', 'is', 'too']
['Life', 'is']
['Life', 'is', 'too']
['Life', 'is', 'too', 'short']
['Life', 'is', 'short']
['Life', 'is', 'too', 'short']
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [206]:
#요소 삭제
l2 = ['Life','is','too','short',3]
#       0      1    2      3    4
#index를 이용해서 요소 삭제
del l2[4]
print(l2)

#요소를 이용해서 삭제
l2.remove('is')
print(l2)
l2.remove('Life')
print(l2)

#모두삭제
l2.clear()
print(l2)

#삭제한 값 받아오기
l2 = ['Life','is','too','short',3]
#result = del l2[4] #error
#result = l2.remove(3)
result = l2.pop() 
print(result)
print(l2) #['Life', 'is', 'too', 'short']
result = l2.pop()
print(l2) #['Life', 'is', 'too']
#pop : 맨뒤의 요소 삭제

#index를 이용해서 요소 삭제후 삭제된 요소 받아오기
result = l2.pop(1)
print(result)
print(l2)

result = l2.pop(0)
print(result)
print(l2) #too

#복원추출 :

['Life', 'is', 'too', 'short']
['Life', 'too', 'short']
['too', 'short']
[]
3
['Life', 'is', 'too', 'short']
['Life', 'is', 'too']
is
['Life', 'too']
Life
['too']

In [213]:
#정렬 -- 오름차순, 내림차순
l = [4,2,5,1,3]
#오름차순
l.sort()
print(l)

l = [4,2,5,1,3]
#내림차순
l.sort(reverse = True)
print(l)

l = ['다','가','나']
l.sort()
print(l)

l = ['다','가','나','c','b','a']
l.sort()
print(l)

l = ['다','가','나','c','b','a',3,5,2]
#l.sort()  #숫자랑 문자가 같이있으면 정렬안됨

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
['가', '나', '다']
['a', 'b', 'c', '가', '나', '다']

In [223]:
str1 = 'Life is too short'
print(str1.find('too'))
idx = str1.find('too')
print(idx)
l = ['Life','is','too','short']
#       0     1    2      3
idx = l.index('too')
#idx = l.find('too') #에러 : 리스트에는 find 못씀
print(idx)
#idx = l.index('zoo') #에러 : 없는 거 찾을때

8
8
2

In [231]:
#기본자료형 : 리터럴 : 자연수 : 숫자 : 정수, 실수
#                      자연어 : 문자열 : '' / "" / """ """ / ''' '''
#파이썬 자료형
#             리스트 : []
#              튜플  : ()
l = [1,2,3,4]
print(l)
t = (1,2,3,4)
print(t)
l = [] #빈 리스트
t = () #빈 튜플
print((3+5) * 4) #() : 최우선연산자
print(2)
print([2])
print((2))
t = (3 + 5) #8 : 최우선연산자
print(t)

t = (2,) #요소가 하나인 경우에는 최우선연산자와 구별하기 위해서 , 를 사용
print(t)

t = (1,2) #요소 두개 이상인 경우 소괄호만 사용
print(t)

[1, 2, 3, 4]
(1, 2, 3, 4)
32
2
[2]
2
8
(2,)
(1, 2)

In [233]:
l = [] #빈리스트
t = () #빈 튜플
l = [1] #요소가 하나인 리스트
t = (1,) #요소가 하나인 튜플
l = [1,2,3,4,5] #정수형 리스트
t = (1,2,3,4,5) #정수형 튜플
t = (10.5,2.5,30.7) #실수형 튜플
t = ('홍길동','김길동','박길동') #문자열형 튜플
t = (1,2,3,4,5,'홍길동','김길동','박길동',10.4) #혼합형 튜플
t = (1,2,3,4,5,'홍길동','김길동','박길동',10.4,[6,7,8]) #리스트를 포함한 혼합형 튜플
t = (1,2,3,4,5,'홍길동','김길동','박길동',10.4,(6,7,8)) #튜플을 포함한 혼합형 튜플
t = (1,2,3,4,5,'홍길동','김길동','박길동',10.4,(6,7,8),[10,11,12]) #혼합형 튜플
l = [1,2,3,4,5,'홍길동','김길동','박길동',10.4,(6,7,8),[10,11,12]] #혼합형 리스트
t = 1,2,3,4,5 # = (1,2,3,4,5) : 튜플
print(t)

(1, 2, 3, 4, 5)

In [236]:
str1 = 'Life is too short'
#       01234567890123456
#             1
l1 = ['Life','is','too','short']
#        0    1     2      3
t1 = 'Life','is','too','short'
#       0     1    2      3

#indexing
print(str1[2])
print(l1[2])
print(t1[2])

#slicing : 문자열에서는 substr과 같다
print(str1[1:1+2]) #자바 : str1.substr(1, 1+2)
print(l1[1:1+2])
print(t1[1:1+2])

print(str1[:3])
print(l1[:3])
print(t1[:3])

print(str1[2:])
print(l1[2:])
print(t1[2:])

f
too
too
if
['is', 'too']
('is', 'too')
Lif
['Life', 'is', 'too']
('Life', 'is', 'too')
fe is too short
['too', 'short']
('too', 'short')

In [251]:
str1 = 'Lyfe is too short'
l1 = ['Lyfe','is','too','short']
t1 = ('Lyfe','is','too','short')
print(str1[1])
str1 = str1.replace('y','i')
print(str1)

print(l1[0])
l1[0] = 'Life'
print(l1[0])

##리스트와 튜플의 차이
#리스트는 요소를 변경할 수 있지만 튜플은 요소를 변경할 수 없다 - 자바의 상수(final 변수)
#print(t1[0])
#t1[0] = 'Life'
#print(t1[0])

del l1[0]
print(l1)


#del t1[0]
#print(t1)

print(len(t1))

idx=l1.index('too')
print(idx)
idx=t1.index('too')
print(idx)

l = [1,1,2,2,3,4,5,6,6]
t = (1,1,2,2,3,4,5,6,6)

print(l.count(l))
print(t.count(t))

y
Life is too short
Lyfe
Life
['is', 'too', 'short']
4
1
2
0
0

In [256]:
t1 = 'Life','is','too','short',3
l1 = ['Life','is','too','short',3]
print(l1[0]) #문자
print(t1[0]) #문자
print(l1[1:3]) #리스트
print(t1[1:3]) #튜플
print(l1[2:4]) #리스트
print(t1[2:4]) #튜플
print(l1[1:3 ] + l1[2:4]) #리스트+리스트 : 연결연산
print(t1[1:3 ] + t1[2:4]) #튜플 + 튜플 : 연결연산
print(l1[4]) #정수
print(t1[4]) #정수
print(l1[1:3] * l[4]) #리스트 * 정수 : 반복연산
print(t1[1:3] * t[4]) #튜플 * 정수 : 반복연산

Life
Life
['is', 'too']
('is', 'too')
['too', 'short']
('too', 'short')
['is', 'too', 'too', 'short']
('is', 'too', 'too', 'short')
3
3
['is', 'too', 'is', 'too', 'is', 'too']
('is', 'too', 'is', 'too', 'is', 'too')

In [265]:
#형변환함수 : int() str() list() tuple()
str2 = 'hello'
num = '3'
i = 10
print(int(num))
print(str(i)) #문자
print(list(str2))
print(tuple(str2))
l = ['h', 'e', 'l', 'l', 'o']
print(str(l))
print(''.join(l)) #리스트를 문자열로 형변환할 때는 join을 사용한다
t = ('h', 'e', 'l', 'l', 'o')
print(str(t))
print(''.join(t))

print(','.join(str2)) #h,e,l,l,o

3
10
['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')
['h', 'e', 'l', 'l', 'o']
hello
('h', 'e', 'l', 'l', 'o')
hello
h,e,l,l,o