In [2]:
###break, continue
###1~100의 합 구하기
sum1 = 0
i = 1
while i <= 100:
    sum1 += i
    i += 1
print(sum1)

5050

In [6]:
###홀수의 합 구하기
sum1 = 0
i=1
while i <=100:
    if i%2 != 0:
        sum1+=i
    i += 1
print(sum1)

sum1=0
i=0
while i<100:
    i += 1
    if i%2 == 0:
        continue
    sum1 += i
print(sum1)

2500
2500

In [9]:
###짝수의합
sum1=0
i=1
while i<=100:
    if i%2==0:
        sum1+=i
    i += 1
print(sum1)

sum1=0
i=1
while i<=100:
    i+=1
    if i%2 !=0:
        continue
    sum1 += i
print(sum1)

2550
2550

In [13]:
sum1=0
i=1
while True:
    sum1+=i
    i+=1
    if i>100 :
        break
print(sum1)
l=[1,2,3,4,5,6]
#  0 1 2 3 4 5
print(l[0:4]) #start는 0번째, stop은 4번째

5050
[1, 2, 3, 4]

In [20]:
###forEach
l=[1,2,3,4]
sum1 = 0
idx = 0
while idx < len(l):
    sum1 += l[idx]
    idx+=1
print(sum1)
print(sum(l))

sum1=0
for num in l: #[1,2,3,4]
    sum1 += num
print(sum1)

sum1=0
for idx in range(0,len(l)):
    sum1 + l[idx]
print(sum1)

10
10
10
0

In [23]:
#1~100까지 합

#while
sum1 = 0
i=1
while i<=100:
    sum1 += i
    i += 1
print(sum1)

#for
sum1=0
for num in range(1,101):
    sum1 += num
print(sum1)

5050
5050

In [28]:
###홀수의 합
sum1 = 0
for num in range(1,101):
    if num%2 != 0:
        sum1 += num
print(sum1)

sum1=0
for num in range(1,101):
    if num%2 == 0:
        continue
    sum1 += num
print(sum1)

2500
2500

In [30]:
##짝수의합
sum1=0
for num in range(1,101):
    if num%2 == 0:
        sum1 += num
print(sum1)

sum1=0
for num in range(1,101):
    if num%2 != 0:
        continue
    sum1 += num
print(sum1)

2550
2550

In [37]:
sum1=0
for num in range(100000000): #시작값이 없으면 0부터시작
    if num == 101:
        break
    sum1 += num
print(sum1)

sum1=0
t = (1,2,3,4,5)
print(sum(t))
for num in t:
    sum1 += num
print(sum1)

5050
15
15

In [42]:
#9단
gob=1
while gob <= 9:
    print(f"9 * {gob} = {9*gob}")
    gob+=1

for gob in range(1,10):
    print(f"3 * {gob} = {3*gob}")

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [45]:
for gob in range(1,10):
    print(f"3 * {gob} = {3*gob}")

for gob in range(1,10):
    print(f"4 * {gob} = {4*gob}")

for gob in range(1,10):
    print(f"5 * {gob} = {5*gob}")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [49]:
startDan = 3
endDan =5
startGob = 1
endGob = 9

for dan in range(startDan,endDan + 1):
    for gob in range(startGob,endGob+1):
        print(f"{dan} * {gob} = {dan*gob}")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [90]:
startDan = int(input('시작단의 숫자 입력 : '))
endDan = int(input('끝단의 숫자 입력 : '))
startGob = int(input('시작곱의 숫자 입력 : '))
endGob = int(input('끝곱의 숫자 입력 : '))

for dan in range(startDan,endDan + 1):
    for gob in range(startGob,endGob+1):
        print(f"{dan} * {gob} = {dan*gob}")

시작단의 숫자 입력 :  3
끝단의 숫자 입력 :  4
시작곱의 숫자 입력 :  2
끝곱의 숫자 입력 :  6

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24

In [84]:
#로또
import random
lotto=[]
for i in range(1, 45+1):
    lotto.append(i)
size=len(lotto) #45
for i in range(6):
    size -= 1
    idx = random.randint(0, size)
    lottoNum = lotto.pop(idx)
    print(lottoNum, end=", ")

26, 22, 29, 42, 32, 17,

In [89]:
import random
cnt = int(input('구매수량 입력 : '))
lotto=[]
for i in range(cnt) : 
    print(f'{i+1}번 : ', end='')
    for i in range(1, 45+1):
        lotto.append(i)
    size=len(lotto) #45
    for i in range(6):
        size -= 1
        idx = random.randint(0, size)
        lottoNum = lotto.pop(idx)
        print(lottoNum, end=", ")
    lotto.clear() #반복문밖에 변수의 초기화가 있으면 clear()함수로 초기화를 따로 해주어야한다
    print()

구매수량 입력 :  3

1번 : 44, 17, 25, 4, 30, 40,
2번 : 20, 45, 37, 10, 2, 30,
3번 : 39, 1, 32, 28, 30, 40,

In [98]:
lotto=[]
for i in range(1,45+1):
    lotto.append(i)  #이방법은 append를 사용할때만 씀
print(lotto)

#list comprehension
lotto = [i for i in range(1,45+1)]
print(lotto)

lotto=[]
for i in range(1,45+1):
    lotto.append(i * 3) 
print(lotto)
lotto = [i*3 for i in range(1,45+1)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135]

In [101]:
#튜플요소에 3을 곱한값을 리스트에 추가
t = (1,2,3,4)
l=[]
for num in t:
    l.append(num*3)
print(l)

l=[num*3 for num in t]
print(l)

[3, 6, 9, 12]
[3, 6, 9, 12]

In [105]:
#튜플요소에서 짝수인 요소만 3을 곱한후 추가
t = 1,2,3,4,5,6,7,8,9,10
l=[]
for num in t:
    if num%2==0:
        l.append(num*3)
print(l)

l=[num*3 for num in t if num%2==0]
print(l)

[6, 12, 18, 24, 30]
[6, 12, 18, 24, 30]

In [110]:
#3단부터 5단까지의 값을 리스트에 추가
l = []
for dan in range(3,6):
    for gob in range(1,10):
        l.append(dan * gob)
print(l)

l=[dan*gob for dan in range(3,6) 
           for gob in range(1,10)]
print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [113]:
#3단부터 5단까지 값중 곱이 짝인것만 리스트에 추가
l=[]
for dan in range(3,6):
    for gob in range(1,10):
        if gob%2==0:
            l.append(dan * gob)
print(l)

l = [dan*gob for dan in range(3,6) 
             for gob in range(1,10)
             if gob %2 ==0]
print(l)

[6, 12, 18, 24, 8, 16, 24, 32, 10, 20, 30, 40]
[6, 12, 18, 24, 8, 16, 24, 32, 10, 20, 30, 40]

In [123]:
l1 = [(1,2),(3,4),(5,6)]
print(l1[0]) #(1,2)
print(l1[1]) #(3,4)
print(l1[2]) #(5,6)

a,b = l1[0]
print(a,b)
for y in l1:
    print(y)
for a,b in l1:
    print (a,b)
    print(a+b)

(1, 2)
(3, 4)
(5, 6)
1 2
(1, 2)
(3, 4)
(5, 6)
1 2
3
3 4
7
5 6
11

In [127]:
l2 = [[1,2,3],(4,5,6),(7,8,9)]
for y in l2:
    print(y)
for a,b,c in l2:
    print(a,b,c)

[1, 2, 3]
(4, 5, 6)
(7, 8, 9)
1 2 3
4 5 6
7 8 9

In [132]:
l3 = [[1,2],[3,4,5,6],[7,8,9]] #이런식으로 크기가 다를땐 위의 방법을 사용할수 없다
for y in l3:
    print(y)

"""
for a,b,c,d in l3 : #리스트에 있는 요소의 크기가 달라 오류가 발생한다
    print(a,b,c,d)
"""

[1, 2]
[3, 4, 5, 6]
[7, 8, 9]

'\nfor a,b,c,d in l3 : #리스트에 있는 요소의 크기가 달라 오류가 발생한다\n    print(a,b,c,d)\n'

In [148]:
import datetime
now = datetime.datetime.now()
print(now)
print(now.year, '년')
print(now.month, '월')
print(now.day, '일')
print(now.hour, '시')
print(now.minute, '분')
print(now.second, '초')
print(type(now.second))
print('2023년 12월 21일 11시 32분 15초')
print('%d년 %d월 %d일 %d시 %d분 %d초' % (now.year, now.month, \#역슬래시뒤에 공백이 있으면 오류남
                                        now.day,now.hour,now.minute,now.second))
#print("{}년 {}월 {]일 {}시 {}분 {}초".format(now.year, now.month, \
#                                        now.day,now.hour,now.minute,now.second))
print(f'{now.year}년 {now.month}월 {now.day}일 ' \
      f'{now.hour}시 {now.minute}분 {now.second}초')

#오전이면 '오전'출력, 오후면 '오후' 출력
if now.hour < 12:
    print(f'오전 {now.hour}시')
if now.hour >= 12:
    print(f'오후 {now.hour}시')

2023-12-21 11:43:24.688075
2023 년
12 월
21 일
11 시
43 분
24 초
<class 'int'>
2023년 12월 21일 11시 32분 15초
2023년 12월 21일 11시 43분 24초
2023년 12월 21일 11시 43분 24초
오전 11시

In [155]:
#봄  여름 가을 겨울을 출력
#3~5 6~8  9~11 12~2
import datetime
now = datetime.datetime.now()
print(now.month)
if  3 <= now.month <= 5:
    print('봄')
if 6<= now.month <= 8:
    print('여름')
if 9<= now.month <= 11:
    print('가을')
if now.month >= 12 or 1<= now.month <= 2:
    print('겨울')

12
겨울

In [158]:
i=20
if i<20:
    print('흐어')
elif i <10:
    print('으어')
else: 
    print ('그어')

그어

In [162]:
i=10
if not i<20: #원래True인데 not 때문에 false가됨. 
    print('큼')
else:
    print('작음')

작음

In [163]:
json = {1:'곽', 2:'민', 3:'우'} #dictionary , Java의 JSON

In [170]:
dic = {}
dic['name'] = '곽민우'
print(dic)
dic['age'] = 30
print(dic)
dic['height'] = 173.5
print(dic)

{'name': '곽민우'}
{'name': '곽민우', 'age': 30}
{'name': '곽민우', 'age': 30, 'height': 173.5}

In [174]:
print(dic)
for key in dic:
    print(key, ':', dic[key])

{'name': '곽민우', 'age': 30, 'height': 173.5}
name : 곽민우
age : 30
height : 173.5

In [178]:
l=[1,2,3,4,5,6]
print(l[::2])

for num in range(1,1+10,2):
    print(num)

[1, 3, 5]
1
3
5
7
9

In [181]:
print(range(10))
l=list(range(10))
print(l)
t=tuple(range(10))
print(t)
ss=set(range(10))
print(ss)
str1 = str(range(10))
print(str1)

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
range(0, 10)

In [183]:
n=10
print(n/2)
for i in range(0,int(n/2)):
    print(i)

5.0
0
1
2
3
4

In [185]:
l=[1,2,3,4,5,6,7]
print(len(l))
sum1=0
for idx in range(len(l)):
    sum1 += l[idx]
print(sum1)

7
28

In [187]:
for num in range(10):
    print(num)
l=[1,2,3,4,5,6]
print(l[::-1])
print(l[1:6])
print(l[5:0:-1])
for num in range(10,2-1,-1):
    print(num)
for num in reversed(range(5)):
    print(num)

0
1
2
3
4
5
6
7
8
9
[6, 5, 4, 3, 2, 1]
[2, 3, 4, 5, 6]
[6, 5, 4, 3, 2]
10
9
8
7
6
5
4
3
2
4
3
2
1
0

In [189]:
l=[1,2,1,2]
value =2

while value in l:
    l.remove(value)
print(l)

[1, 1]

In [195]:
import time 
time.time() #timestamp : 1970년 1월 1일 0시 0분 0초 000미리초 가 0값.
target_tick = time.time() + 5
i=1
while time.time() < target_tick:
    i += 1
print(f'5초동안 {i}번 반복')

5초동안 38657677번 반복

In [200]:
import random
qty=0
while True:
    result=input('계속 진행하려면"y", 멈추려면 아무거나 누르셈 : ')
    if result not in ['y','Y']:
        break;
    lotto=[]
    i=1
    while i<=45:
        lotto.append(i)
        i+=1
    size=len(lotto)
    cnt=1
    while cnt<=6:
        size-=1
        idx = random.randint(0, size)
        result = lotto.pop(idx)
        print(result, end=", ")
        cnt+=1
    print()
    qty+=1

계속 진행하려면"y", 멈추려면 아무거나 누르셈 :  y

41, 30, 24, 10, 4, 6,

계속 진행하려면"y", 멈추려면 아무거나 누르셈 :  y

20, 5, 41, 25, 36, 4,

계속 진행하려면"y", 멈추려면 아무거나 누르셈 :  y

32, 20, 37, 18, 41, 38,

계속 진행하려면"y", 멈추려면 아무거나 누르셈 :  y

21, 41, 42, 15, 8, 16,

계속 진행하려면"y", 멈추려면 아무거나 누르셈 :  sad

In [205]:
l=[1,2,3,4,5,6]
print(sum(l))
print(min(l))
print(max(l))

t=1,2,3,4,5,6
print(sum(t))
print(min(t))
print(max(t))

21
1
6
21
1
6

In [213]:
print(l[1:5])
print(l[4:0:-1])
print(reversed(l[1:5]))
print(l[::1])
for num in l[::-1]:
    print(num)
for num in reversed(l):
    print(num)

[2, 3, 4, 5]
[5, 4, 3, 2]
<list_reverseiterator object at 0x000002550F8909A0>
[1, 2, 3, 4, 5, 6]
6
5
4
3
2
1
6
5
4
3
2
1

print(l)

In [214]:
for idx in range(len(l)):
    print(l[idx],end=" ")
print()
for idx, value in enumerate(l):
    print(f'{idx}번 요소의 값은 {value}')

1 2 3 4 5 6
0번 요소의 값은 1
1번 요소의 값은 2
2번 요소의 값은 3
3번 요소의 값은 4
4번 요소의 값은 5
5번 요소의 값은 6