In [10]:
#같은 이름의 함수를 만들수 없음
#함수명과 변수명이 같으면 안됨
def sum11(* para): #연산자는 인자값을 튜프로 받도록함
    print(para)
    sum1 = 0
    for num in para:
        sum1 += num
    print(sum1)

In [13]:

sum11(1,2)
sum11(1,2,3)
sum11(1,2,3,4,5,6,7)

print()

a= 1,2,3,4,5
print(a) #=> 튜플

(1, 2)
3
(1, 2, 3)
6
(1, 2, 3, 4, 5, 6, 7)
28

(1, 2, 3, 4, 5)

In [16]:
def sum14(* para):
    sum1 =0
    if para[0] == 'add':
        for num in para[1:]:
            sum1+=num
    elif para[0] == 'sub':
        for num in para[1:]:
            sum1-=num
    elif para[0] == 'mul':
        for num in para[1:]:
            sum1*=num
    else:
        for num in para[1:]:
            sum1/=num
    print(sum1)

In [20]:
sum14('add',2,4,5,6,7)
sum14('mul',2,4,5,6,7,8)

24
0

In [26]:
def sum14(opt, *para): #앞에 변수가 몇개있던 상관없는데 튜플로 받는 변수는 맨뒤에 있어야한다
    sum1=1
    if opt=='add':
        for num in para:
            sum1+=num
    elif opt=='sub':
        for num in para:
            sum1-=num
    elif opt=='mul':
        for num in para:
            sum1+=num
    else:
        for num in para:
            sum1/=num
    print(sum1)

In [30]:
sum14('add',2,4,5,6,7)

25

In [32]:
def dic1(** para): ## **은 딕셔너리로 받음
    print(para)

In [35]:
dic1(a=1)
dic1(a='곽', b='민',c='우')

{'a': 1}
{'a': '곽', 'b': '민', 'c': '우'}

In [36]:
def dic1(age, **para):
    print(age)
    print(para)

In [39]:
dic1(35,name='곽민우',old=40, height=170)

35
{'name': '곽민우', 'old': 40, 'height': 170}

In [44]:
#parameter이름을 이용해서 값을 전달
def sum12(start, end):
    sum1=0
    for num in range(start, end + 1):
        sum1 += num
    print(sum1)

In [48]:
sum12(1,100)
sum12(start=1, end=100)
sum12(end=100, start=1)

5050
5050
5050

In [53]:
def calc(opt, num1, num2):
    if opt == 'add':
        result = num1+num2
    elif opt == 'sub':
        result = num1-num2
    elif opt == 'mul':
        result = num1*num2
    else:
        result = num1/num2
    print(result)

In [59]:
calc('add',48,95)
calc('sub',95,45)
calc('mul',24,23)
calc('div',42,78)

143
50
552
0.5384615384615384

In [61]:
###매개변수에 초깃값 미리 설정하기
def my_self(name, age, man):
    print(f'나의 이름은 {name}입니다')
    print(f'나의 나이는 {age}살 입니다')
    if man:
        print('나는 남자입니다')
    else:
        print('나는 여자입니다')

In [65]:
my_self('곽민우', 28, False)

나의 이름은 곽민우입니다
나의 나이는 28살 입니다
나는 여자입니다

In [67]:
###매개변수에 초깃값 미리 설정하기
def my_self(name, age, man=True):
    print(f'나의 이름은 {name}입니다')
    print(f'나의 나이는 {age}살 입니다')
    if man:
        print('나는 남자입니다')
    else:
        print('나는 여자입니다')

In [74]:
my_self('곽민우', 28)
my_self('홍길동', 35, False)
my_self(age=35, name='김길동', man=False)
my_self(age=35, name='김길동')

나의 이름은 곽민우입니다
나의 나이는 28살 입니다
나는 남자입니다
나의 이름은 홍길동입니다
나의 나이는 35살 입니다
나는 여자입니다
나의 이름은 김길동입니다
나의 나이는 35살 입니다
나는 여자입니다
나의 이름은 김길동입니다
나의 나이는 35살 입니다
나는 남자입니다

In [79]:
'''
def my_self(name='곽민우', age, man=True):
    print(f'나의 이름은 {name}입니다')
    print(f'나의 나이는 {age}살 입니다')
    if man:
        print('나는 남자입니다')
    else:
        print('나는 여자입니다')
'''

"\ndef my_self(name='곽민우', age, man=True):\n    print(f'나의 이름은 {name}입니다')\n    print(f'나의 나이는 {age}살 입니다')\n    if man:\n        print('나는 남자입니다')\n    else:\n        print('나는 여자입니다')\n"

In [82]:
'''
def my_self(name, age = 35, man=):
    print(f'나의 이름은 {name}입니다')
    print(f'나의 나이는 {age}살 입니다')
    if man:
        print('나는 남자입니다')
    else:
        print('나는 여자입니다')
my_self('곽민우')
'''

"\ndef my_self(name, age = 35, man=):\n    print(f'나의 이름은 {name}입니다')\n    print(f'나의 나이는 {age}살 입니다')\n    if man:\n        print('나는 남자입니다')\n    else:\n        print('나는 여자입니다')\nmy_self('곽민우')\n"

In [83]:
def my_self(name, age = 35, man=True): 
    print(f'나의 이름은 {name}입니다')
    print(f'나의 나이는 {age}살 입니다')
    if man:
        print('나는 남자입니다')
    else:
        print('나는 여자입니다')
#매개변수의 초기값은 앞에서부터나 중간에부터는 초기값을 지정할수 없다
#초기값을 지정하려면 뒤에서부터 앞으로 지정을 해준다

In [87]:
my_self('곽민우')
my_self('곽민우',28)
my_self('곽민우', man=True)

나의 이름은 곽민우입니다
나의 나이는 35살 입니다
나는 남자입니다
나의 이름은 곽민우입니다
나의 나이는 28살 입니다
나는 남자입니다
나의 이름은 곽민우입니다
나의 나이는 35살 입니다
나는 남자입니다

In [91]:
#Lambda함수 : 함수명을 변수처럼 사용하는 것
def add(a,b):
    return a + b

In [96]:
result = add(3,4)
print(result)

7

In [94]:
add = lambda a,b: a+b

In [98]:
result = add(3,4)
print(result)

7

In [100]:
def add(a,b):
    print(a + b)

In [102]:
add(3,4)

7

In [104]:
add = lambda a,b: print(a+b)

In [106]:
add(3,4)

7

In [108]:
def calc(opt,a,b):
    if opt=='add':
        return a+b
    else:
        return a-b

In [110]:
result = calc('add',3,8)
print(result)

11

In [112]:
calc = lambda opt,a,b: a+b if opt == 'add' else a-b

In [115]:
result = calc('add',3,8)
print(result)

11

In [118]:
'''
opt = 'add'; a=10; b=20
if opt =='add':
    result = a+b
elif opt == 'sub:
    result = a-b
elif opt == 'mul':
    result = a*b
else:
    result = a/b
'''

"\nopt = 'add'; a=10; b=20\nif opt =='add':\n    result = a+b\nelif opt == 'sub:\n    result = a-b\nelif opt == 'mul':\n    result = a*b\nelse:\n    result = a/b\n"

In [1]:
#파이썬타입
'''
result = a+b if opt =='add' else (
         a-b if opt =='sub' else (
         a*b if opt =='mul' else 
         a/b
         )
    )
    '''

"\nresult = a+b if opt =='add' else (\n         a-b if opt =='sub' else (\n         a*b if opt =='mul' else \n         a/b\n         )\n    )\n    "

In [123]:
def calc(opt,a,b):
    if opt =='add':
        return a+b
    elif opt == 'sub':
        return a-b
    elif opt == 'mul':
        return a*b
    else:
        return a/b

In [125]:
result = calc('add',10,20)
print(result)

30

In [126]:
calc = lambda opt,a,b : a+b if opt=='add' else(
                        a-b if opt=='sub' else(
                        a*b if opt=='mul' else
                        a/b
                        ))

In [130]:
result = calc('add',10,20)
print(result)

30

In [131]:
add = lambda a,b = 4:print(a+b)

In [134]:
add(3,6)

9

In [135]:
#전역변수 : 멤버변수 : 프로그램 내에 있는 변수, 프로그램 어디서든 사용가능, 함수안에서 사용가능
#지역변수 : 메서드안에 있는 변수 : 함수안의 변수

In [140]:
b=1 #전역변수
def test3():
    global b #this
    b=100 #지역변수
    c=200
    print('함수안에서 실행된 변수 b :', b)
    print('함수안에서 실행된 변수 c :', c)

In [142]:
print(b)
test3()
print(b)

100
함수안에서 실행된 변수 b : 100
함수안에서 실행된 변수 c : 200
100

In [16]:
##파일 입출력 : open
#open(file, moder='r', buffering=None, encoding=None, errors=None, newline=None, closefd=True) -> default값
f = open(encoding='utf-8', file='test.txt',mode='w')

In [22]:
#f = open(C:\Users\sdedu\Documents\GitHub\Soldesk\Python)
f= open('test.txt', 'w', encoding='utf-8') #w : overwrite

In [23]:
f.write('첫번째 줄\n')
f.write('두번째 줄\n')
f.write('세번째 줄\n')
f.write('네번째 줄\n')
f.write('다섯번째 줄\n')
f.close()

In [27]:
f = open('test.txt','a',encoding='utf-8')

In [28]:
for i in range(6,11):
    f.write(f'{i}번째줄\n')
f.close()

In [35]:
f = open('test.txt','r',encoding='utf-8')

In [36]:
line = f.readline()
print(line)
line = f.readline()
print(line)
line = f.readline()
print(line)
line = f.readline()
print(line)
f.close()

첫번째 줄

두번째 줄

세번째 줄

네번째 줄

In [39]:
f = open('test.txt','r',encoding='utf-8')
while True:
    line = f.readline()
    if not line:
        break;
f.close()

In [41]:
f = open('test.txt','r',encoding='utf-8')
lines=f.readlines()
print(lines)
print(''.join(lines))
f.close()

['첫번째 줄\n', '두번째 줄\n', '세번째 줄\n', '네번째 줄\n', '다섯번째 줄\n', '6번째줄\n', '7번째줄\n', '8번째줄\n', '9번째줄\n', '10번째줄\n', '6번째줄\n', '7번째줄\n', '8번째줄\n', '9번째줄\n', '10번째줄\n']
첫번째 줄
두번째 줄
세번째 줄
네번째 줄
다섯번째 줄
6번째줄
7번째줄
8번째줄
9번째줄
10번째줄
6번째줄
7번째줄
8번째줄
9번째줄
10번째줄

In [43]:
f = open('test.txt',mode='r',encoding='utf-8')
data = f.read()
f.close()
print(data)

첫번째 줄
두번째 줄
세번째 줄
네번째 줄
다섯번째 줄
6번째줄
7번째줄
8번째줄
9번째줄
10번째줄
6번째줄
7번째줄
8번째줄
9번째줄
10번째줄

In [45]:
with open(mode='w', file='test.txt', encoding='utf-8') as f:
    for i in range(11,16):
        f.write(f'{i}번째 줄\n')

In [47]:
with open(file='test.txt', encoding='utf-8') as f:
    lines = f.readlines()
print(''.join(lines))

11번째 줄
12번째 줄
13번째 줄
14번째 줄
15번째 줄

In [50]:
with open(file='test.txt', encoding='utf-8') as f:
    lines=f.readlines()
print(''.join(lines))

In [52]:
with open(mode='a',file='test.txt', encoding='utf-8') as f:
    for i in range(16,21):
        f.write(f'{i}번째 줄\n')

In [54]:
with open(mode='r',file='test.txt', encoding='utf-8') as f:
    data=f.read()
print(data)

16번째 줄
17번째 줄
18번째 줄
19번째 줄
20번째 줄
16번째 줄
17번째 줄
18번째 줄
19번째 줄
20번째 줄

In [64]:
#class : 변수, 그 변수를 사용하는 함수
class TestClass:
    b=1
    def test3(self): #메소드
        global b
        b = 100
        c=200
        print('함수 내에서 실행되는 b : ',b)
        print('함수 내에서 실행되는 c : ',c)

In [66]:
a = TestClass()
print(a.b)
a.test3()
print(a.b)

1
함수 내에서 실행되는 b :  100
함수 내에서 실행되는 c :  200
1

In [67]:
class Calculator:
    result=0
    first=0
    second=0
    def setData(self, first,second):
        self.first = first
        self.second = second
    def add(self):
        self.result = self.first + self.second
        return self.result
    def div(self):
        self.result = self.first / self.second
        return self.result

In [70]:
calc = Calculator()
print(calc.first)
calc.setData(10,20)
print(calc.first)

0
10

In [72]:
class Calculator:
    def setData(self, first,second):
        self.first = first
        self.second = second
    def add(self):
        self.result = self.first + self.second
        return self.result
    def div(self):
        self.result = self.first / self.second
        return self.result

In [77]:
calc = Calculator()
#print(calc.first)
calc.setData(10,20)
print(calc.first)
y=calc.add()
print(y)

10
30

In [82]:
class Calculator:
    def __init__(self, first,second):
        self.first = first
        self.second = second
    def add(self):
        self.result = self.first + self.second
        return self.result
    def div(self):
        self.result = self.first / self.second
        return self.result

In [88]:
calc = Calculator(10, 20)
print(calc.first)
y=calc.add()
print(y)

10
30

In [91]:
calc1 = Calculator(0,10)
print(calc1.first)
print(calc1.second)
y=calc1.div()
print(y)

0
10
0.0

In [94]:
calc2 = Calculator(10,0)
print(calc2.first)
print(calc2.second)

10
0

In [97]:
class FourCal(Calculator):
    def sub(self):
        self.result = self.first - self.second
        return self.result
    def mul(self):
        self.result = self.first * self.second
        return self.result

In [101]:
fCal = FourCal(10,20)
y = fCal.add()
print(y)
y = fCal.sub()
print(y)
y=fCal.div()
print(y)

30
-10
0.5

In [104]:
fCal1 = FourCal(10,0)
y = fCal1.add()
print(y)
y = fCal1.sub()
print(y)

10
10

In [105]:
class FourCal(Calculator):
    def sub(self):
        self.result = self.first - self.second
        return self.result
    def mul(self):
        self.result = self.first * self.second
        return self.result
    def div(self):# 오버라이드 override : 재정의
        if self.second==0:
            self.result = 0
        else:
            self.result=self.first / self.second
        return self.result

In [106]:
fCal2 = FourCal(10,0)
y = fCal2.div()
print(y)

0